ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.catalog-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3%;

  border: 1px solid black;
  border-radius: 5px;
}

.catalog-item_content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.catalog-item__theme-light{
  color:#212529
}

.catalog-item__theme-dark{
  background-color: oklch(0.31 0.05 264.72);
  color:#e0e4e7;
}
