@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  position: relative;
  gap: 7vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.catalog-detail-wrapper{
  display: flex;
  flex-flow: row nowrap;
  gap: 5vw;
  align-items: center;
  justify-content: center;
}