.countries-table-wrapper {
  width: 100%;
}

th {
  border: 1px solid #a7cdef;
  background-color: #d8e8f6;
}

tr {
  border: 1px solid #a7cdef;
  background-color: rgb(244, 248, 250);
}

td {
  border: 1px solid #a7cdef;
  padding: 1.5vw;
}
